*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.envrc
.kotlin

fastlane/report.xml

/iosApp/secrets/*
/iosApp/Pods/*
/androidApp/src/main/res/values/secrets*.xml
