*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.envrc
.kotlin

fastlane/report.xml
fastlane/test_output

/component-graphs
/route-branching
/iosApp/secrets/*
/iosApp/Pods/*
/androidApp/src/main/res/values/secrets*.xml
/iosApp/iosApp.xcodeproj
/iosApp/iosApp.xcworkspace/*
!/iosApp/iosApp.xcworkspace/xcshareddata
