default_install_hook_types: [pre-commit, post-checkout, post-merge]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: pretty-format-json
        types: [ text ]
        files: \.(json|arb)$
        args: [ "--autofix" ]
  - repo: https://github.com/jguttman94/pre-commit-gradle
    rev: v0.3.0
    hooks:
      - id: gradle-spotless
        entry: gradle-spotless -w
      - id: gradle-task
        alias: gradle-spotless-buildSrc
        name: "gradle spotless buildSrc"
        entry: gradle-task :buildSrc:spotlessCheck :buildSrc:spotlessApply -w
  - repo: https://github.com/nicklockwood/SwiftFormat
    rev: 0.57.2
    hooks:
      - id: swiftformat
        args: [ "--config","config.swiftformat" ]
  - repo: local
    hooks:
      - id: generate-xcodeproj
        name: generate xcodeproj
        entry: ./bin/generate-xcodeproj.sh
        language: script
        always_run: true
        stages: [post-checkout, post-merge]
        pass_filenames: false
      - id: diff-xcodeproj
        name: diff xcodeproj
        entry: ./bin/diff-xcodeproj.sh
        language: script
        always_run: true
        pass_filenames: false
      - id: rubocop
        name: rubocop
        entry: bundle exec rubocop -A
        language: system
        files: '\.rb$|file$'
