name: Android Prod Deploy

on:
  push:
    tags:
      - android-*
  workflow_dispatch:

concurrency:
  group: android-prod

jobs:
  build-android:
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build-android.yaml
    with:
      build-type: "Release"
      flavor: "Prod"
      sentry-environment: "prod"
      upload-artifacts: true
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
      GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      GOOGLE_APP_ID_ANDROID: ${{ secrets.GOOGLE_APP_ID_ANDROID_PROD }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_DSN_ANDROID: ${{ secrets.SENTRY_DSN_ANDROID }}
  deploy-android:
    needs:
      - build-android
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    uses: ./.github/workflows/deploy-android.yaml
    with:
      flavor: "Prod"
    secrets:
      GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
