name: CI

on:
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Run pre-commit to check formatting and linting
    permissions:
      contents: read
    uses: ./.github/workflows/pre-commit.yaml
  test-android:
    name: Test for Android
    permissions:
      contents: read
    uses: ./.github/workflows/test-android.yaml
  test-ios:
    name: Test for iOS
    permissions:
      contents: read
    uses: ./.github/workflows/test-ios.yaml
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
      GOOGLE_APP_ID_IOS: ${{ secrets.GOOGLE_APP_ID_IOS_STAGING }}
  build-android:
    name: Build for Android
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build-android.yaml
    with:
      build-type: "Debug"
      deploy: false
      flavor: "Staging"
      sentry-environment: "debug"
    secrets:
      FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
      GOOGLE_APP_ID_ANDROID: ${{ secrets.GOOGLE_APP_ID_ANDROID_STAGING }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_DSN_ANDROID: ${{ secrets.SENTRY_DSN_ANDROID }}
